<style>
/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
body { font: 14px/1.4 Georgia, serif; }
#page-wrap { width: 800px; margin: 0 auto; }

textarea { border: 0; font: 14px Georgia, Serif; overflow: hidden; resize: none; }
table { border-collapse: collapse; }
table td, table th { border: 1px solid black; padding: 5px; }

#header { height: 15px; width: 100%; margin: 20px 0; background: #222; text-align: center; color: white; font: bold 15px Helvetica, Sans-Serif; text-decoration: uppercase; letter-spacing: 20px; padding: 8px 0px; }

#address { width: 250px; height: 150px; float: left; }
#customer { overflow: hidden; }

#logo { text-align: right; float: right; position: relative; margin-top: 25px; border: 1px solid #fff; max-width: 540px; max-height: 100px; overflow: hidden; }
#logo:hover, #logo.edit { border: 1px solid #000; margin-top: 0px; max-height: 125px; }
#logoctr { display: none; }
#logo:hover #logoctr, #logo.edit #logoctr { display: block; text-align: right; line-height: 25px; background: #eee; padding: 0 5px; }
#logohelp { text-align: left; display: none; font-style: italic; padding: 10px 5px;}
#logohelp input { margin-bottom: 5px; }
.edit #logohelp { display: block; }
.edit #save-logo, .edit #cancel-logo { display: inline; }
.edit #image, #save-logo, #cancel-logo, .edit #change-logo, .edit #delete-logo { display: none; }
#customer-title { font-size: 20px; float: left; }

#meta { margin-top: 1px; width: 300px; float: right; }
#meta td { text-align: right;  }
#meta td.meta-head { text-align: left; background: #eee; }
#meta td textarea { width: 100%; height: 20px; text-align: right; }

#items { clear: both; width: 100%; margin: 30px 0 0 0; border: 1px solid black; }
#items th { background: #eee; }
#items textarea { width: 80px; height: 50px; }
#items tr.item-row td { border: 0; vertical-align: top; }
#items td.description { width: 300px; }
#items td.item-name { width: 175px; }
#items td.description textarea, #items td.item-name textarea { width: 100%; }
#items td.total-line { border-right: 0; text-align: right; }
#items td.total-value { border-left: 0; padding: 10px; }
#items td.total-value textarea { height: 20px; background: none; }
#items td.balance { background: #eee; }
#items td.blank { border: 0; }

#terms { text-align: center; margin: 20px 0 0 0; }
#terms h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 10px; border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 8px 0; }
#terms textarea { width: 100%; text-align: center;}

textarea:hover, textarea:focus, #items td.total-value textarea:hover, #items td.total-value textarea:focus, .delete:hover { background-color:#EEFF88; }

.delete-wpr { position: relative; }
.delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }

/* Override bootstrap styling  */
textarea.description, input.price, input.qty, textarea#invoice_notes{
  -webkit-box-shadow:none;
  box-shadow:none;
  border:none;
  
}

textarea#invoice_notes{
  text-align:left;
}
</style>


<div id="page-wrap">

		<textarea id="header">INVOICE</textarea>
		
		<div id="identity">
		
            <span id="address">
            Leonel Santos<br />
            Jose Guadiana #123<br />
            Colonia Centro<br />
            Sabinas Hidalgo, NL 53719<br />
            Telefono: (824) 242-5555
            </span>

            <div id="logo">
              <img id="image" src="/assets/logo.png" alt="logo">
            </div>
		
		</div>
		
		<div style="clear:both"></div>
		
		<div id="customer">

            <span id="customer-title">
              <%= simple_format @invoice.organization.formatted %>
            </span>

            <table id="meta">
                <tbody>
                <tr>
                  <td class="meta-head">Invoice #</td>
                  <td><%= @invoice.invoice_number %></td>
                </tr>
                <tr>
                  <td class="meta-head">Date</td>
                  <td><%= @invoice.read_date_issued_on %></td>
                </tr>
                <tr>
                    <td class="meta-head">Amount Due</td>
                    <td><div class="due"><%= number_to_currency @invoice.total %></div></td>
                </tr>

            </tbody></table>
		
		</div>
		
		<table id="items">
		
		  <tbody><tr>
		      <th>Item</th>
		      <th>Description</th>
		      <th>Unit Cost</th>
		      <th>Quantity</th>
		      <th>Price</th>
		  </tr>
		  
		  <% @invoice.line_items.each do |line_item| %>
        <tr class="item-row" style="border-bottom:1px solid #e5e5e5;">
          <td class="item-name" style="padding:2px 2px 2px 5px;">
            <div class="delete-wpr">
		          <span><%= line_item.item.name %></span>
		        </div>
          </td>
          <td class="description">
            <% desc = simple_format line_item.description %>
            <% desc = desc[3..-5] %>
            <span><%= desc %></span>
          </td>
          <td class="price_data"><span class="cost"><%= number_with_precision(line_item.price, :precision =>2 ) %></span></td>
          <td class="quantity_data"><span class="qty"><%= line_item.quantity %></span></td>
          <td class="linetotal_data" style="padding-right:5px;"><span class="price"><%= number_with_precision(line_item.line_total, :precision => 2) %></span></td>
        </tr>
      <% end %>


		  <tr>
		      <td colspan="2" class="blank"> </td>
		      <td colspan="2" class="total-line">Subtotal</td>
		      <td class="total-value" style="text-align:right;"><%= number_to_currency @invoice.subtotal %></td>
		  </tr>
		  
		  <tr>
		      <td colspan="2" class="blank"> </td>
		      <td colspan="2" class="total-line">IVA</td>
		      <td class="total-value" style="text-align:right;"><%= number_to_currency @invoice.iva %></td>
		  </tr>

		  <tr>
		      <td colspan="2" class="blank"> </td>
		      <td colspan="2" class="total-line">Total</td>
		      <td class="total-value" style="text-align:right;"><%= number_to_currency @invoice.total %></td>
		  </tr>
		  
		  <!--
		  <tr>
		      <td colspan="2" class="blank"> </td>
		      <td colspan="2" class="total-line">Amount Paid</td>
		      <td class="total-value"><textarea id="paid">$0.00</textarea></td>
		  </tr>
		  -->
		  
		  <!--
		  <tr>
		      <td colspan="2" class="blank"> </td>
		      <td colspan="2" class="total-line balance">Balance Due</td>
		      <td class="total-value balance"><div class="due">$875.00</div></td>
		  </tr>
		  -->
		
		</tbody></table>
		
		<div id="terms">
		  <h5>Notes</h5>
		  <%= @invoice.notes %>
		</div>
	
	</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              invoices_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_invoice_path(@invoice), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              invoice_path(@invoice),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
