<%= simple_form_for @item, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name, :label => t('.name') %>
  <%= f.input :price, :label => t('.price'), :as => :string %>
  <%= f.input :description, :label => t('.description') %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('buttons.cancel'),
                items_path, :class => 'btn' %>
  </div>
<% end %>
