<%- model_class = Item.new.class -%>

<div class="page-header">
<h1><%=t ".title" %></h1>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= t '.name' %></th>
      <th><%= t '.description' %></th>
      <th><%= t '.price' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item_path(item) %></td>
        <td><%= item.description %></td>
        <td><%= number_to_currency item.price %></td>
        <td>
          <%= link_to t('buttons.edit'),
                      edit_item_path(item), :class => 'btn btn-mini' %>
          <%= link_to t('buttons.destroy'),
                      item_path(item),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('buttons.new_item'),
            new_item_path,
            :class => 'btn btn-primary' %>
