<%- model_class = @item.class -%>

<div class="page-header">
  <h1><%= @item.name %></h1>
</div>

<p>
  <strong><%= t '.price' %>:</strong> <%= number_to_currency @item.price %>
</p>

<p>
  <strong><%= t '.description' %>:</strong> <%= @item.description %>
</p>

<div class="form-actions">
  <%= link_to t('buttons.back'),
              items_path, :class => 'btn'  %>
  <%= link_to t('buttons.edit'),
              edit_item_path(@item), :class => 'btn' %>
  <%= link_to t('buttons.destroy'),
              item_path(@item),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
