<% if @organization.errors.any? %>
<div class="flash">
    <div class="message error" style="padding-left:60px;text-align:left;">
      <p><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</p>
      <p>
        <ul style="padding-left:30px;">
        <% @organization.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </p>
    </div>  
  </div>
<% end %>

<%= debug @organization.errors %>

<%= simple_form_for @organization, :html => { :class => 'form-horizontal' } do |f| %>

    <fieldset>
    <legend><%= t "organizations.edit.organization" %></legend>
    <%= f.input :name, label: t('organizations.edit.organization_name') %>
    <%= f.input :rfc, label: "RFC" %>    
    </fieldset>

    <fieldset>
    <legend><%= t "organizations.edit.contacts" %></legend>
    <%= f.fields_for :people do |builder| %>
      <%= render 'people_fields', :f => builder %>
    <% end %>
    </fieldset>

    <fieldset>
    <legend><%= t "organizations.edit.details" %></legend>
    <%= f.input :address_one, label: t('organizations.edit.address_one') %>
    <%= f.input :address_two, label: "-" %>
    <%= f.input :city, label: t('organizations.edit.city') %>
    <%= f.input :state, label: t('organizations.edit.state') %>
    <%= f.input :postal_code, label: t('organizations.edit.postal_code') %>
    <%= f.input :phone, label: t('organizations.edit.phone') %>
    <%= f.input :fax %>
    <%= f.input :website, label: t('organizations.edit.website') %>
    </fieldset>

    <div class="form-actions">
      <%= f.submit nil, :value => t('buttons.update'), :class => 'btn btn-primary' %>
      <%= link_to t('buttons.cancel'), organizations_path, :class => 'btn' %>
    </div>

</form>
<% end %>
