<%= simple_form_for @organization, :html => { :class => 'form-horizontal' } do |f| %>
    
    <%= f.input :name %>
    <%= f.input :rfc %>
    <%= f.input :address_one %>
    <%= f.input :address_two %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :postal_code %>
    <%= f.input :phone %>
    <%= f.input :fax %>
    <%= f.input :website %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), organizations_path, :class => 'btn' %>
  </div>

<% end %>
