      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>FacturadorMX</h1>
        <p>Facturador electronico. Ponlo a prueba GRATIS por 15 dias. Subscribirte solo toma un minuto. Sin compromiso. No requiere targeta de credito.</p>
        <!-- <p><a class="btn btn-primary btn-large">Crear una cuenta »</a></p> -->
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span8">
          <h2>Crear una nueva cuenta de FacturadorMX</h2>
          
          <%= simple_form_for(@account) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.fields_for :company do |c_form| %>
                
                <div class="inputs">
                  <%= c_form.input :name, :label => t("users.sign_up.company_name"), :required => true, :autofocus => true %>
                </div>
                
              <% end %>
            </div>

            <div class="form-inputs">
              <%= f.fields_for :users do |builder| %>
                <%= render 'user_fields', :f => builder %>
              <% end %>
            </div>

            <div class="form-inputs">
              <%= f.button :submit, (t "users.sign_up.button"), :class => 'btn-primary' %>
            </div>
          <% end %>
          
        </div>
        <div class="span4">
          <h2>Ya tienes una cuenta?</h2>
          <p>Click en el boton debajo para acceder.</p>
          <p><%= link_to t("users.sign_in.title"), new_session_path(:user), :class => 'btn btn-success' %></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>© LeonelOnRails <%= Date.today.year %></p>
      </footer>
